{% extends 'theme.html' %}

{% block content %}
                       
        <div class="group1">
            <h2 align="center"> Welcome to user authenticator </h2>
              <br>
              <div class="form-group" align="center">
                <a name="signinButton" id="signinButton" class="btn btn-primary" href="/signin" role="button">Signin</a>
                <a name="signupButton" id="signupButton" class="btn btn-primary" href="/signup" role="button">signup</a>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

              </div>
            </div>


{% endblock  %}